<!DOCTYPE html>
<%- include('./partials/head.ejs') %>

<!-- <html lang="en"> -->
<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Saru | <%= title %></title>
</head> -->
<body>
    
    <%- include('./partials/nav.ejs') %>

    <!-- <nav>
        <div class="site-title">
            <a href="/"> <h1> Blog Saru </h1> </a>
            <p> The D.J.SARU. Site</p>
        </div>
        <ul>
            <li><a href="/"> Blogs </a></li>
            <li><a href="/about"> About</a></li>
            <li><a href="/blogs/create"> New Blog</a></li>
        </ul>
    </nav> -->

    <div class="about content">
        <h2> About Us </h2>   
        <p> I created this Blog site to peoples share there precious information from there courses.</p>  
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>